@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400&display=swap');
@keyframes smoke{
    0%{transform: rotate(0deg) translateY(0px);opacity: 1; filter: blur(0px);}
    100%{transform: rotate(45deg) translateY(-200px);opacity: 0; filter: blur(20px);}
}

*,*::before,*::after{
    box-sizing: border-box;
}
body{
    font-family: 'Roboto',Helvetica, sans-serif;
    margin: 0;
}
body::-webkit-scrollbar {
    width: 10px;

  }
body::-webkit-scrollbar-thumb {
    background: #727171; 
    border-radius: 10px;
  }
  

header{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}
ul{
    list-style-type: none;
}
ul li {
    float: left;
}
li {
    background-color: rgb(227, 225, 225);
    color: rgb(46, 45, 45);
    margin: 0 20px;
    padding: 10px;
    border-radius: 10px;
    text-transform: capitalize;
}
.side-bar::-webkit-scrollbar {
    width: 8px;
  }

.side-bar::-webkit-scrollbar-thumb {
    background: #727171; 
    border-radius: 10px;
  }
 
.side-bar{
    background: white;
    width: 15%;
    top: 0;
    padding-left: 1%;
    padding-top: 80px;
    position: fixed;
  height: 100vh;
  overflow: auto;
}
.side-bar .sideBar-links span{
    font-size: 15px
}
.sideBar-links a {
    line-height: 3;
    width:fit-content;
    display: flex;
    align-items: center;
    margin-bottom: 4px;
    flex-wrap:wrap;
    margin: 0 20px;
    gap: .9rem;
    text-decoration: none;
    color:#3b3a3a;
    text-transform: capitalize;
}
.explore hr{
    border: 0;
    height: .6px;
    background: #ccc;
}
.explore p{
    margin-left: 10px;
    font-size: 18px;
    color:#3b3a3a;
}
.explore div{
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 10px;
    font-size: large;
    color:#3b3a3a;
}
.explore a{
    line-height: 1;
    width:fit-content;
    align-items: center;
    margin-bottom: 4px;
    flex-wrap:wrap;
    margin: 0 20px;
    text-decoration: none;
    color:#3b3a3a;
    text-transform: capitalize;
    margin-top: -22px;
}
.sideBar-links a:hover{
    background-color: #e9e7e7;
    border-radius: 10px;
    padding-left: 18px;
    padding-right: 9px;
}

.side-bar hr{
    border: 0;
    height: .6px;
    background: #ccc;
}
.subscribed a{
    text-decoration: none;
    color: #4f4e4e;
    display: flex;
    align-items: center;
    margin-bottom: 5px;
    width: fit-content;
    flex-wrap:wrap ;
    text-transform: capitalize;
    margin-left: 10px;
}
 
.subscribed div{
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 10px;
    font-size: large;
    color:#3b3a3a;
}
.subscribed a img{
    width: 25px;
    border-radius: 50%;
    margin-right: 20px;
}
.reduced-menu{
    width: 6%;
}
.reduced-menu .sideBar-links a{
    line-height: 2;
    display: block;
}
.reduced-menu .sideBar-links a:hover{
    background-color: #ffffff;
    padding-left: 2px;
    display: block;
    /* padding: 0px 0px;
    border-radius: 0;
    transition: 0s;
    width: 100%;
    word-wrap: break-word;
    display: block; */

}

.reduced-menu .sideBar-links span{
    font-size: 10.5px;
}

.reduced-menu hr{
    display: none;
}
.reduced-menu a span{
    font-size: 11px;
    margin-left: -15%;
}
.reduced-menu .subscribed{
    display: none;
}
.reduced-menu .other-links{
    display: none;
}
.video-section{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 2rem 1rem;
    padding: 3rem 0;
    margin: 0 1.5rem;
    border-top: 3px solid #ccc;
}
.videos{
    padding-left: 15%;
}
.video-full{
    padding-left: 7%;
}

a.short{
    font-weight: bold;
    font-size: medium;

}
section article{
    margin-left: 30px;
}
.shorts{
    min-width: 1100px;
    display: flex;
    overflow: scroll;
    -webkit-overflow-scrolling: touch; 
    justify-content: space-between;
}
.shorts::-webkit-scrollbar{
    display: none;
}
.video-container{
    list-style-type: none;
}
.video-section:first-child{
    border-top: none;
}
.noTop{
    border-top: none;
}
.video-container{
    display: flex;
    flex-direction: column;
}
.thumbnail{
    position: relative;
    display: flex;
}
.thumbnail::before{
    content: attr(data-duration);
    position: absolute;
    background-color: rgba(0, 0, 0, .50);
    color: white;
    right: 5px;
    bottom: 5px;
    padding: .3rem .6rem;
    border-radius: .3rem;
    font-size: .8rem;
}
.thumbnail-img{
    width: 100%;
    height: 100%;
    min-width: 250px;
    min-height: 150px;
    background-color: #aaa;
    border-radius: 15px;
}
.thumbnail-img:hover{
    border-radius: 0;
}
.video-bottom{
    display: flex;
    align-items: flex-start;
    margin-top: .9rem;
}
.channel-icon{
    border-radius: 50%;
    background-color: #aaa;
    margin-right: .8rem;
}
.video-details{
    display: flex;
    flex-direction: column;
}
.video-name{
    font-weight: 300;
    text-decoration: none;
    color: black;
    font-size: large;
}
.channel-name{
    text-decoration: none;
    color: #727171;
    font-weight: 450;
    font-size: 15px;
    margin-top: .5rem;
}
.channel-name:hover{
    color:#3b3a3a ;
}
.stamps{
    text-decoration: none;
    color: #727171;
    font-weight: 400;
    font-size:16px;
    margin-top: .3rem;
}
.video-section-title{
    grid-column: 1/-1;
    font-weight: 700;
    font-size: medium;
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: .5rem;
}
button.close{
    background-color: transparent;
    border: none;
}
.filters{
    padding: 1rem 3rem;
}
.filters-section{
    display: flex;
    overflow: scroll;
    -webkit-overflow-scrolling: touch; 
}
.filters-section::-webkit-scrollbar{
    display: none;
}
.filter{
    margin-right: 1rem;
    padding: .6rem 1rem;
    word-wrap: none;
    white-space: nowrap;
    border: none;
    border-radius: 10px;
    font-size: medium;
    text-transform: capitalize;
}
.filter:hover{
    background-color: #d5d5d5;
    transition: .3s;
}
.filter.active{
    background-color: #3b3a3a;
    color: white;
}
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .8rem;
    position: sticky;
}
.header .menu{
    margin-right: 29px;
    margin-left: 20px;
}
  
.header .logo {
    width: 95px;
}
header{
    padding: 10px 2%;
    justify-content: space-between;
    background: #fff;
    position: sticky;
    top: 0;
    z-index: 10;
    overflow: hidden;
}
.search-area {
    display: flex;
    flex-grow: 1;
    margin: 0 2rem 0 4rem;
    margin-left: 20%;
  }
  
  .search-input {
    width: 600px;
    border-radius: 20px;
    font-size: medium;
    padding: .7rem;
    border: 1px solid #b6b6b6;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    outline-color: rgb(137, 137, 137);
    outline-style: 1px solid;
  }
  
  .search-btn {
    display: flex;
    align-items: center;
    padding: 0 1.5rem;
    border-radius: 20px;
    border: 1px solid #c0bfbf;
    background-color: #F8F8F8;
    border-left: none;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    cursor: pointer;
  }
  
  .search-btn:hover {
    background-color: #F0F0F0;
  }
  .menu-icons {
    display: grid;
    grid-template-columns: repeat(4, auto);
    align-items: center;
    gap: 2.5rem;
    justify-content: space-between;
  }
.mic-icon{
    border-radius: 60%;
    margin-right: 175px;

}
.mic-icon:hover{
    background-color: #e8e8e8;
    padding: 10px;
    margin-right: 155px;
    transition: .9s;
}
.cover{
    position: relative;
}
.left-arrow{
    position: absolute;
    left: 0;
    top: 0;
    transform: translateY(-50%);
    border: none;
    display: none;
}
.right-arrow{
    position: absolute;
    right: 0;
    top: 0;
    transform: translateY(-95%);
    display: flex;
    flex-direction: row;
    border: none;
    background: none;
    transition: .5s;
   /*  box-shadow: 10px 10px 10px 40px white; */

}
.right-arrow:hover{
    background-color: #d6d6d6;
    border-radius: 40px;
    padding: .3%;
    transition: .5s;
}

.left{
    position:sticky;
    left: 0;
    top: 0;
    transform: translateY(-50%);
    border: none;
    display: block;
    background: white;
    transition: .5s;
}
.left:hover{
    background-color: #d6d6d6;
    border-radius: 40px;
    padding: .3%;
    transition: .5s;
}
#Topbtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    font-size: 18px;
    border: none;
    outline: none;
    background-color: rgb(243, 243, 243);
    color: white;
    cursor: pointer;
    padding: 15px;
    border-radius: 4px;
  }
  
  #Topbtn:hover {
    background-color: #969696;
    color: white;
  }
  .Toggle{
    display: none;
  }
.sector{
    display: block;
}

.heading{
    display: none;
}
.openMenu{
    display: none;
}


 @media only screen and (max-width: 800px) {
    .menu{
        display: none;
    }
    
    .videos, #videos{
        padding-left: 3%;
        padding-right: 5%;
    }
     .menu-icons .NC{
        display: none;
    }
    .openMenu{
        display: block;
        background: transparent;
        border: none;
    }
    .user{
        display: block;
        gap: .5rem;
        justify-content:left;
        background-color: #eaeaea;
        padding: .4rem;
        border-radius: 40px;
    } 
    .search-input{
        width: 100px;
        border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    padding: .2rem;
    }
    .search-btn{
        display: none;
    }
    .header .logo{
        width: 70px;
        margin-left: 5%;
    }
    .search-area {
        margin: 0 2rem 0 4rem;
        margin-left: 10%;
      }
     
    .mic-icon{
        /* border-radius: 0;
        margin-right: 175px; */
        display: none;
    
    }
    .mic-icon:hover{
        background-color: transparent;
        padding: 0;
        margin-right: 155px;
        transition: 0;
    }
      
    .side-bar {
      position: fixed;
      text-align: left;
      top: 0;
      left: 0;
      width: 55%;
      display: grid;
      grid-template-rows: 1fr ;
      row-gap: 1rem;
      z-index: 10;
    }
    .reduced-menu{
        display: none;
    }
    .links a {
      display: block;
      font-size: 0.8rem;
      text-transform: capitalize;
      padding: 1rem 1.5rem;
      transition: 0.6s;
      text-align: left;
      width: 100%;
    }
    .heading{
        display: block;
        margin-top: -50px;
    }
    .sideBar-links .heading .logo{
        width: 70px;
        margin-left: 1.3rem;
    }

    .right-arrow{
        position: absolute;
        right: 0;
        top: 0;
        transform: translateY(-50%);
        display: flex;
        flex-direction: row;
        border: none;
        background: none;
        transition: .5s;
       /*  box-shadow: 10px 10px 10px 40px white; */
    
    }

    .closeMenu {
        position: absolute;
        font-size: 2rem;
        display: block;
        background: transparent;
        border-color: transparent;
        color: var(--clr-red-dark);
        cursor: pointer;
        transition: var(--transition);
        
      }
      .library{
        margin-bottom: -30%;
      }
      .show-more{
        margin-top: -30px;
      }
       
      .heading .logo {
        width: 95px;
        margin-left: 45px;
    }
    .header {
        
        position: sticky;
    }

    .overlay{
        display: block;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.5);
        z-index: 10;
        
    }

    .side-bar .sideBar-links span{
        font-size: 10px
    }
    .side-bar .sideBar-links span{
        margin-left: 15px;
    }
    .sideBar-links a {
        line-height: 0.5;
        width:fit-content;
        margin-left: -10px;
        margin-bottom: 1px;
        justify-content: space-between;
        
    }
    .shorts{
        z-index: 1;
        display: flex;
        flex-wrap: nowrap;
        
    }
    .shorts{
        display: flex;
        overflow: scroll;
        -webkit-overflow-scrolling: touch; 
    }
    
    .shorts .video-container{
        margin-right: 1rem;
        padding: .6rem 1rem;
        word-wrap:break-word;
        white-space: wrap;
        border: none;
        border-radius: 10px;
        font-size: medium;
        text-transform: capitalize;
    }
    section.theShort{
        overflow-x: scroll;
    }

    #Topbtn {
        display: none;
        position: fixed;
        bottom: 20px;
        right: 30px;
        z-index: 99;
        font-size: 18px;
        border: none;
        outline: none;
        background-color: rgb(243, 243, 243);
        color: white;
        cursor: pointer;
        padding: 15px;
        border-radius: 4px;
      }

}
@media only screen and (max-width: 960px) and (min-width: 801px) {
    .menu{
        display: none;
    }
    .videos, #videos{
        padding-left: 5%;
        padding-right: 5%;
    }
     .menu-icons .NC{
        display: none;
    }
    .openMenu{
        display: block;
        background: transparent;
        border: none;
    }
    .user{
        display: block;
        gap: .5rem;
        justify-content:left;
        background-color: #eaeaea;
        padding: .4rem;
        border-radius: 40px;
    } 
    .search-input{
        width: 229px;
        border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    padding: .6rem;
    }
    .search-btn{
        display: none;
    }
    .header .logo{
        width: 70px;
        margin-left: 5%;
    }
    .search-area {
        margin: 0 2rem 0 4rem;
        margin-left: 10%;
      }
     
    .mic-icon{
        /* border-radius: 0;
        margin-right: 175px; */
        display: none;
    
    }
    .mic-icon:hover{
        background-color: transparent;
        padding: 0;
        margin-right: 155px;
        transition: 0;
    }
    .shorts{
        z-index: 1;
        display: flex;
        flex-wrap: nowrap;
        
    }
    .shorts{
        display: flex;
        overflow: scroll;
        -webkit-overflow-scrolling: touch; 
    }
    
    .shorts .video-container{
        margin-right: 1rem;
        padding: .6rem 1rem;
        word-wrap:break-word;
        white-space: wrap;
        border: none;
        border-radius: 10px;
        font-size: medium;
        text-transform: capitalize;
    }
    section.theShort{
        overflow-x: scroll;
    }
      
    .side-bar {
      position: fixed;
      text-align: left;
      top: 0;
      left: 0;
      width: 50%;
      display: grid;
      grid-template-rows: 1fr ;
      row-gap: 1rem;
      z-index: 10;
    }
    .reduced-menu{
        display: none;
    }
    .links a {
      display: block;
      font-size: 0.8rem;
      text-transform: capitalize;
      padding: 1rem 1.5rem;
      transition: 0.6s;
      text-align: left;
      width: 100%;
    }
    .heading{
        display: block;
        margin-top: -50px;
    }
    .sideBar-links .heading .logo{
        width: 70px;
        margin-left: 1.3rem;
    }

    .right-arrow{
        position: absolute;
        right: 0;
        top: 0;
        transform: translateY(-50%);
        display: flex;
        flex-direction: row;
        border: none;
        background: none;
        transition: .5s;
       /*  box-shadow: 10px 10px 10px 40px white; */
    
    }

    .closeMenu {
        position: absolute;
        font-size: 2rem;
        display: block;
        background: transparent;
        border-color: transparent;
        color: var(--clr-red-dark);
        cursor: pointer;
        transition: var(--transition);
        
      }
      .library{
        margin-bottom: -30%;
      }
      .show-more{
        margin-top: -30px;
      }
       
      .heading .logo {
        width: 95px;
        margin-left: 45px;
    }

    .overlay{
        display: block;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.5);
        z-index: 10;
        
    }

    .side-bar .sideBar-links span{
        font-size: 10px
    }
    .side-bar .sideBar-links span{
        margin-left: 15px;
    }
    .sideBar-links a {
        line-height: 0.5;
        width:fit-content;
        margin-left: -10px;
        margin-bottom: 1px;
        justify-content: space-between;
        
    }

}